*{
    font-family: sans-serif;
}


html{
    scroll-behavior: smooth;
    /* background-color: rgb(232, 232, 232); */
}
body{
    background-image: url("../assets/Background.jpg");
    margin: 0px;
}
h6{
    color: gray;
}
 




@media only screen and (max-width: 650px) {
body {
    background-image: url("../assets/Background.jpg");
}
#navigation{
    flex-direction: column;
    text-align: center;
    position: sticky;
    border-bottom: 3px solid black;
}

 #tombol_nav{
    align-content: center;
    margin-top: 10px;
    margin-right: 10px;
}   
#content>#section-part1{
    width: -webkit-fill-available;
    margin-left: 10px;
    margin-right: 10px;
}
#content>#form-part1{
    width:-webkit-fill-available;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#content{
    flex-direction: column;
    text-align: center;
}
#feedback{
    text-align: left;
   
}

}






div>#f_profil{
    border-radius: 10px;
    max-height: 50px;
    width :50px;
}
#navigation{
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--orange-medium);
    width: 100%;
 display: flex;
 justify-content: space-between;
 background-image: url("../assets/1HeadingaPatern.jpg");
 border-bottom: 5px solid black;
}

#tombol_nav{
    align-content: center;
}
#tombol_nav>button{
    height : 40px;
    width : 100px;
   
}

#Title{
    text-align: center;
    height: 200px;
    align-content: end;
}     
#content{
    display: flex;
    background-color: white;
    border-radius: 5px;

}


#section-part1{
    /* border: 1px solid black; */
    width :50%;
    height : fit-content; 
    /* perhatikan bagian ini  -------------------------------------------------*/
    margin-left: 3%;
    margin-right: 1%;
    padding: 5px;
    /* background-color:white; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#autoslide{
    height: 500px;
}

.gambar{
    height:max-content;
    /* border: 1px solid black; */
}
#button_image{
    display: flex;
    justify-content: space-between;
}

#previous, #next {
    /* cursor: pointer; */
    /* position: absolute; */
    /* top: 50%; */
    /* width: auto; */
    /* margin-top: -22px; */
    padding: 16px;
    color:black;
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    ;
    /* user-select: none; */
}
#next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
#autoslide-2{
    width: 90%;
    /* border: 1px solid black; */
    align-self: center;
}
.feedback{
    margin: 10px;
    color: grey;
}
#Desc_Autos{
    text-align: left;
    /* height: 30%; */
    display: flex;
}
div>.desc-img{
    border-radius: 10px;
    max-height: 50px;
    width :50px;
}
#stock-image{
    height: 400px;
    text-align: center;
}
#stock-image>.gambar{
    height: 400px;
    align-content: center;
}
#stock-image>.gambar>img{
    max-height: 400px;
}

.desc_desc_autos{
    margin-left: 10px;
    display: block;
    /* border: 1px solid black; */
}
.desc_desc_autos>h5{
    margin-top: 15px;
    margin-bottom: 10px;
}
.desc_desc_autos>h6{
    margin-top: 1px;
    text-align-last: left;
}
#autoslide-3{
    display: flex;
    flex-direction: column;
}
#autoslide-3>div{
    display: flex;
    
}
#autoslide-3>div>div{
    background-color: grey;
    height: 27px;
    border-radius: 50%;}

#autoslide-3>div>h6{
    margin-left: 10px;
}

#autoslide-3>div>div>h1{
    width: 27px;
    text-align: center;
}

#form-part1{
    /* border: 1px solid black; */
    width: 50%;
    height : 500px;
    display: flex;
    flex-direction:column;
    /* background-color:whitesmoke ; */
    margin-right: 3%;
    margin-left: 1%;
    padding: 5px;
    border-radius: 5px;
}
form>input{
    width: auto; /* Adjust as needed */
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
form>select{
    width: auto; /* Adjust as needed */
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
form>label{
    width: auto; /* Adjust as needed */
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: 600;
}

#submit {
    color: aliceblue;
    font-family: cursive;
    background-color:black;
    border-radius: 10px;
    margin-top: 10%;
    height: 50px;

}
.part2{
    
}
#title-part2{
    text-align: center;

}
#country{
    background-color: white;
    border-radius: 5px;
}
#daerah1{
    display: flex;
    flex-direction: row;
}
#daerah2{
    display: flex;
    flex-direction: row;
}
.name_c{
    margin-top: 14px;   
}
.img_c{
    border-radius: 10px;
    max-height: 50px;
    width :50px;
}
#country>div>div{
    display: flex;
    width :30%;
    height: 200px;
    padding: 10px;
    /* border: 1px solid black; */
    margin: 10px;
    
}
#country>div>div>div{
    margin-left: 5px;
}
.part3{
    margin: 3%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

#call{
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 3px;
}